<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>

    <h1>how use ejs</h1>
    <p>My first paragraph.</p>
    <img src="/images/download.jpg">
</body>

</html>